<%- include ../layout/header.ejs %>
<body>
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <%- include ../layout/navbar.ejs %>
  <h1>This is a very boring page</h1>
  <%- include ../layout/footer.ejs %>
</body>
</html>
