<!doctype html>
<html>
<head>
    <!-- META TAGS-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <title><%- title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- STYLE SHEETS-->
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- FONTS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//use.typekit.net/vym6ixu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
