<!doctype html>
<html>
<head>
    <!-- META TAGS-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <title><%- title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- STYLE SHEETS-->
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- PUT FONTS HERE -->
</head>
